
.modal {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   z-index: 999999;
   align-items: center;
   justify-content: center;
}
.modal .container {
   display: flex;
   flex-flow: column;
   background-color: var(--background);
   /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.03); */
}
.modal .container.zoom {
   transform: scale(0.5);
}
.modal .container.slide {
   transform: translateY(-1000px);
}
.modal .container .header {
   width: 300px;
   margin: 0 auto 2rem auto;
   padding: 0;
   font-weight: 600;
}
.modal .container .header h1 {
   font-weight: 500;
   font-size: 2.2em;
   padding: 0;
   margin-top: 0;
}

.modal p {
   width: 300px;
   margin: 0 auto 2rem auto;
}

.from-welcom-message {
   font-weight: 300;
}

#wrapper-close{
   display: flex;
   justify-content: flex-end;
   padding: 1em 0;
}

.modal .close::before {
   display: inline-block;
   content: '';
   height: var(--close-height);
   transform: translateX(calc(var(--close-height) * 0.7)) rotate(45deg);
   margin: 0 1rem;
   padding: 0;
   border-right: 1px solid var(--foreground);
}

.modal .close::after {
   display: inline-block;
   content: '';
   height: var(--close-height);
   transform: translateX(calc(var(--close-height) * -0.7)) rotate(-45deg);
   margin: 0 1rem;
   padding: 0;
   border-right: 1px solid var(--foreground);
}

.modal .close:hover::before, .modal .close:hover::after {
   border-color: var(--clr-btn);
}

.modal .close{
   appearance: none;
   /* width: var(--close-height); */
   border: none;
   background: transparent;
   cursor: pointer;
   padding: 0;
   margin: 0;
   cursor: pointer;
}

.modal .close:hover{
   transform: scale(1.1);
}

.modal .container .header button {
   appearance: none;
   border: none;
   background: transparent;
   cursor: pointer;
   font-size: 2em;
   line-height: 24px;
   padding: 0;
   margin: 0;
   cursor: pointer;
   color: var(--clr-btn);
}

.modal .container .header button:hover {
   color: #676767;
}
.modal .container .content {
   padding: 1em 0 2em 0;
   flex: 1;
}
.modal .container .content .prompt-input input {
   padding: 10px;
   border-radius: 4px;
   border: 1px solid #e6e9ec;
   margin-top: 15px;
   width: 100%;
}
.modal .container .footer {
   border-top: 1px solid #e6e9ec;
   background-color: #f9fafc;
   padding: 15px;
   display: flex;
}
.modal .container .footer button {
   display: inline-flex;
   appearance: none;
   border: none;
   background-color: #3a75d5;
   color: #ffffff;
   border-radius: 4px;
   padding: 7px 12px;
   font-size: 14px;
   margin-right: 7px;
   cursor: pointer;
}
.modal .container .footer button:last-child {
   margin-right: 0;
}
.modal .container .footer button:hover {
   background-color: #326fd3;
}
.modal .container .footer button.alt {
   font-weight: 500;
   background-color: #dadbdd;
   color: #606266;
}
.modal .container .footer button.alt:hover {
   background-color: #d5d6d8;
}
.modal .container .footer button.right {
   margin-left: auto;
}
.modal.small .container {
   width: 400px;
}
.modal.medium .container {
   width: 600px;
}
.modal.large .container {
   width: 900px;
}
.modal.full .container {
   width: 100%;
   height: 100%;
}
.modal.open {
   display: flex;
}
.modal.open .container.zoom {
   transform: scale(1);
   transition: all 0.2s ease;
}
.modal.open .container.slide {
   transform: translateY(0);
   transition: all 0.5s ease;
}

@media screen and (max-width:414px) and (min-height:669px) {
   .modal {
      background-color: var(--background);
   }
}

@media screen and (max-width:376px){

   .modal {
      padding: 0;
      width: 100%;
      height: 100%;
      box-shadow: none;
   }

   .modal .container {
      display: flex;
      justify-content: space-between;
   }

   .--border-radius-10 {
      border-radius: 0;
   }

   .modal .header {
      margin: 2rem auto;
   }

   .modal.small .container {
      width: 100%;
      height: 100%;
   }

   #contact-form {
      max-width: unset;
      padding: 0 1rem;
   }

   input, textarea {
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
   }

   form {
      padding: 0 1rem 2rem 0;
   }

   .contact-form-container {

      display: grid;

   }

}

@media screen and (max-height:669px) {

   .modal .container{
   overflow: auto;
   }
   #wrapper-close {
      padding: 3em 0 1em;
  }

}

/* custom body no-scroll */

.no-scroll {
   overflow: hidden;
}