
@font-face {
   font-family: ac;
   src: url(font/Adobe-Clean-Light.ttf);
   font-weight: 400;
}

@font-face {
   font-family: ac;
   src: url(font/Adobe-Clean-Bold.ttf);
   font-weight: 900;
}

@font-face {
   font-family: ac;
   src: url(font/Adobe-Clean-Normal.ttf);
   font-weight: 500;
}

@font-face {
   font-family: ac;
   src: url(font/AdobeCleanLightIt.otf);
   font-style: italic;
}

:root{
   --clr-body-light: rgb(230, 230, 230);

   --clr-text-dark: rgb(86, 86, 86);
}

html{
   font-family: 'ac', sans-serif;
   background-color:var(--clr-body-light);
   color: var(--clr-text-dark);
}

body {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 0.8em;
}

header{
   margin: 4em 0 3em 0;
}

h1{
   font-size: 1.5rem;
   font-weight: 400;
}

h2{
   font-size: 1.3rem;
   font-weight: 500;
   margin: 0 0 0.3em 0;
}

p{
   margin: 0;
}

strong{
   font-weight: 900;
}

img{
   max-width: 100%;
   height: auto;
   margin: 0.8em auto;
   border-radius: 6px;
}

img[src*="webp"]{
   box-shadow: 0 4px 8px 0 rgb(108 108 108 / 10%);
}

section{
   margin: 2em 0 3em 0;
}

#book p{
   color: rgb(100, 100, 100);
   font-style: italic;
} 

.images{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-content: space-around;
   align-items: flex-start;
   margin-top: 1em;
}

.l{
   max-width: 27%;
   margin: 0.8em 0;
}

.r{
   max-width: 72%;
   margin: 0.8em 0;
}
.c{
   max-width: 48%;
   /* margin: 0.8em 0; */
}

figcaption{
   position: relative;
   top: -0.5em;
   font-style: italic;
   font-size: 0.9rem;
   text-align: center;
   margin-bottom: 1em;
}

.d{
   max-width: 55%;
   margin: 0.8em 0;
}

.row{
   display: flex;
   flex-direction: column;
}

.frenesie-bg {
   background-color: rgb(93 121 119);
   filter: opacity(0.95);
}

.stgb-bg {
   background-color : rgb(208 215 215);
   filter: opacity(0.8);
}

@media screen and (max-width:1028px){
   h2, p {
      margin-left: 2em;
  }
}
