
@font-face {
   font-family: ac;
   src: url(font/Adobe-Clean-Light.ttf);
   font-weight: 400;
}

@font-face {
   font-family: ac;
   src: url(font/Adobe-Clean-Bold.ttf);
   font-weight: 900;
}

@font-face {
   font-family: ac;
   src: url(font/Adobe-Clean-Normal.ttf);
   font-weight: 500;
}

@font-face {
   font-family: ac;
   src: url(font/AdobeCleanLightIt.otf);
   font-style: italic;
}

:root {
   --clr-light: rgb(230, 230, 230);
   --clr-dark: rgb(86, 86, 86);
   --clr-primary: #dbffa2;
   --clr-secondary: #c3fcf2;
   --clr-accent: rgb(0, 90, 146);
 
   --foreground: var(--clr-dark);
   --background: var(--clr-light);

   transition: all 500ms;
 }
 
 .darkmode {
   --clr-light: rgb(230, 230, 230);
   --clr-dark: rgb(86, 86, 86);
   --clr-primary: #202302;
   --clr-secondary: #00100d;
   --clr-accent: rgb(255, 170, 0);
 
   --foreground: var(--clr-light);
   --background: var(--clr-dark);

 }

@media screen and (max-width:1028px){
   h2, p {
      margin-left: 2em;
  }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: 'ac', sans-serif;
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 0.8em;
}

.dark-mode-toggle {
   position: relative;
   display: grid;
   justify-items: center;
   gap: 0.8em;
   z-index: 100;
   top: -3em;
   left: calc(100% - 4em);
   color: var(--clr-accent);
   padding: 0px;
   background: transparent;
   cursor: pointer;
   width: 1.4em;
   height: 1.4em;
   border-width: 0;
   opacity: .6;
   /* rotate: -30deg; */
   font-size: 0.7rem;
 }

 .toggle-ico {
   --size: 1.3rem;
   display: block;
   outline: none;
   cursor: pointer;
   width: var(--size);
   height: var(--size);
   box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
   border-radius: 999px;
   transition: all 500ms;
 }
 
 .darkmode .toggle-ico {
   --ray-size: calc(var(--size) * -0.4);
   --offset-orthogonal: calc(var(--size) * 0.65);
   --offset-diagonal: calc(var(--size) * 0.45);
   transform: scale(0.75);
   box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
 }

header{
   margin: 4em 0 3em 0;
}

h1{
   font-size: 1.5rem;
   font-weight: 400;
}

h2{
   font-size: 1.3rem;
   font-weight: 500;
   margin: 0 0 0.3em 0;
}

p{
   margin: 0;
}

a{
   color: var(--clr-accent);
}

strong{
   font-weight: 900;
}

.uppercase{
   text-transform: uppercase;
}

img{
   max-width: 100%;
   height: auto;
   margin: 0.8em auto;
   border-radius: 5px;
}

img[src*="webp"]{
   box-shadow: 0 4px 8px 0 rgb(108 108 108 / 10%);
}

section{
   margin: 2em 0 3em 0;
}

#book p{
   /* color: rgb(100, 100, 100); */
   font-style: italic;
} 

.images{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-content: space-around;
   align-items: flex-start;
   margin-top: 1em;
}

.l{
   max-width: 27%;
   margin: 0.8em 0;
}

.r{
   max-width: 72%;
   margin: 0.8em 0;
}
.c{
   max-width: 48%;
}

.d{
   max-width: 55%;
   margin: 0.8em 0;
}

.row{
   display: flex;
   flex-direction: column;
}

figcaption{
   position: relative;
   top: -0.5em;
   font-style: italic;
   font-size: 0.9rem;
   text-align: center;
   margin-bottom: 1em;
}

.frenesie-bg {
   background-color: rgb(93 121 119);
   filter: opacity(0.95);
}

.stgb-bg {
   background-color : rgb(208 215 215);
   filter: opacity(0.8);
}

 