.select{
   background-color: transparent;
   color: var(--foreground);
   border: none;
   cursor: pointer;
}

.select::after{
   display: inline-block;
   content: '';
   transform: translateY(-30%) rotate(45deg);
   width: 8px;
   height: 8px;
   border-right: 2px solid var(--foreground);
   border-bottom: 2px solid var(--foreground);
   margin-left: 0.7em;
}

.select.active{
}

.lang-selector{
   position: relative;
   min-width: 2em;
    display: flex;
    justify-content: center;
}

.options{
   overflow: hidden;
   display: none;
}

.options.active{
   display: block;
   position: absolute;
   top: 1.5em;
   left: 0.6em;
   z-index: 100;
}

.options .item{
   cursor: pointer;
}

@media screen and (max-width:650px){
   
   .select::after {
       margin-left: 0.25em;
   }

}