.select{
   background-color: transparent;
   color: var(--foreground);
   border: none;
}

.select::after{
   display: inline-block;
   content: '';
   transform: translateY(-30%) rotate(45deg);
   width: 8px;
   height: 8px;
   border-right: 2px solid var(--foreground);
   border-bottom: 2px solid var(--foreground);
   margin-left: 0.7em;
}

.select.active{
}

.lang-selector{
   position: relative;
   min-width: 2em;
    display: flex;
    justify-content: center;
}

.options{
   display: block;
   position: absolute;
   top: -0.8em;
   left: -0.5em;
/*    background: var(--background);
   color: var(--foreground); */
   opacity: 0;
   transform: scaleY(0);
   transition-duration: 400ms;
   z-index: 0;
}

.options.active {
	display: block;
	top: 1.5em;
	opacity: 1;
	transform: scale(1);
   z-index: 10;
}

.options .item{
   cursor: pointer;
}

@media screen and (max-width:650px){
   
   .select::after {
       margin-left: 0.25em;
   }

   .select::after{
      border-right: 2px solid var(--background);
      border-bottom: 2px solid var(--background);
   }

}