@font-face {
    font-family: aleo;
    src: url(../fonts/Aleo/static/Aleo-Light.ttf);
    font-weight: 200;
 }

@font-face {
    font-family: aleo;
    src: url(../fonts/Aleo/static/Aleo-Regular.ttf);
    font-weight: 400;
 }
 
 @font-face {
    font-family: aleo;
    src: url(../fonts/Aleo/static/Aleo-Bold.ttf);
    font-weight: 900;
 }
 
 @font-face {
    font-family: bebas;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
    font-weight: 400;
    font-display: swap;
 }

 :root {
    --clr-light: hsl(40deg 24.64% 84.66%);
    --clr-dark-light: hsl(200, 8.6%, 27.5%);
    --clr-grey: hsl(0, 0%, 85%);
    --clr-red: hsl(349, 69%, 42%);
    --clr-accent-1: hsl(172, 4%, 77%);
    --clr-accent-2: hsl(40, 100%, 50%);
    --clr-punch: var(--clr-dark-light);
    --clr-slide-1: hsl(37, 6%, 59%);
    --clr-slide-2: hsl(48, 12%, 62%);
    --clr-slide-3: hsl(201deg 7.61% 50.24%);
    --clr-slide-4: hsl(175, 6%, 62%);
    
    --clr-blanket: hsla(200, 8.6%, 27.5%, 0.7);
  
    --foreground: var(--clr-dark-light);
    --background: var(--clr-light);
 
    --close-height: 1.5rem;
 
    --ff: 'aleo', sans-serif;
    --ff-alt: 'bebas', sans-serif;

    scroll-behavior: smooth; 

    --full-height: calc(100svh - var(--header-height));

    /* Bootstrap */
    --bs-border-width: 0;
  }

/* Darkmode*/

.darkmode {
    --clr-dark-light: hsl(200deg 11.03% 19.94%);
    --clr-accent: rgb(255, 170, 0);
    --clr-accent-neg: rgb(0, 90, 146);

    --foreground: var(--clr-light);
    --background: var(--clr-dark-light);
}
.dark-mode-toggle {
    box-sizing: content-box;
    display: grid;
    justify-items: center;
    gap: 0.8em;
    z-index: 100;
    color: var(--foreground);
    background: transparent;
    cursor: pointer;
    width: max-content;
    height: max-content;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
 
    box-sizing: content-box; 
 
    /* --> un-comment if under text
    display: grid;
    justify-items: center;
    gap: 0.8em;
    width: max-content;
    height: max-content;
    font-size: 0.7rem;
    z-index: 100; */
 
     color: var(--foreground);
     background: transparent;
     cursor: pointer;
     margin: 0;
     padding: 0;
     border: none;
  }
 
  .dark-mode-toggle:hover{
    opacity: 0.8;
  }
 
  .toggle-ico {
    --size: 1.1rem;
    display: block;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    border-radius: 999px;
    transition: all 500ms;
 
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  }
  
  .darkmode .toggle-ico {
    box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
 
  }
 
 /*         darkmode toggle - END
  ___________________________________________*/

/* reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100svh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    line-height: 0;
}

img{
    image-rendering: optimizeQuality;
}

ul, ol {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
 }


*::selection {
color: var(--clr-light);
background-color: var(--clr-red);
}

.blanket{
    position: absolute;
    top: 0;
    width: 100svw;
    height: 100svh;
    background: transparent;
    transition: all 300ms;
    pointer-events: none;
}

.blanket.on{
    background: var(--clr-blanket);
    transition: all 300ms;
    backdrop-filter: blur(5px);
    z-index: 1;
}

/* reset end */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--ff);
/*     padding: 0 0.8em; */
    transition: all 500ms;
 }

h1, h2, h3, h4 {
    font-family: var(--ff-alt);
    color: var(--foreground);
}

h1 {
    font-size: calc(2.5rem + 1.5vw);
}

p {
    font-weight: 200;
}

header {
    font-family: var(--ff-alt);
    font-size: 1.3rem;
    /* max-width: 1340px; */
    margin: 0 auto;
    padding: 1.2em;
 }

header a:hover {
    border-bottom: 0.5em solid var(--foreground);
}
 
.logo {
    width: 350px;
    height: auto;
}

.logo svg {
    fill: var(--foreground);
 }

/* #carousel-hero {
    max-width: 1200px;
    margin: 0 auto;
} */

 .content {
    max-width: 1000px;
    margin: 2rem auto 0;
    padding: 0 1rem;
 }

/*       Lang Switcher - START
 ___________________________________________*/

 .locale-switcher {
    color: var(--clr-accent);
    font-size: inherit;
    letter-spacing: 0.04em;
    background: none;
    border: none;
    margin: 0;
    padding: var(--bs-nav-link-padding-y) 0 var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    height: max-content;
/*     -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none; */
  }
 
 
 
  .locale-switcher:focus-visible {
    border: none;
    outline: none;
  }
 
  select.locale-switcher::after {
    display: inline-block;
    content: '';
    transform: translateY(-30%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    margin-left: 0.7em;
  }
 
.lang-selector .item {
    background: var(--background);
    padding: 0.3em 0.5em;
}

.lang-selector .item:first-child  {
    border-bottom: 1px solid var(--foreground);
}


 /* ___________________________________________*/

/*  .hero-slide img {
    object-position: center;
    object-fit: cover;
  }   */

  /* .hero-slide {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100svh - var(--sl--full-height));
 } */
.hero-slide img {
    display: block;
    max-width: 100%;
    max-height: 100vw;
    /* aspect-ratio: 1 / 1; */
}

 #carousel-hero {
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
 }

 .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
	color: var(--clr-red);
}

.carousel-control-next, .carousel-control-prev {
	opacity: .8;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators [data-bs-target] {
    background-color: var(--clr-blanket);
}

.carousel-control-next, .carousel-control-prev {
	width: 8%;
}

/*  Bootstrap Override */


ul {
    margin: 0 !important;
    padding: 0 !important;
}

#header-height{
    width: 0;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-link {
    padding: 0;
}

.nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--foreground);
    background-color: inherit;
    border: none;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: var(--foreground);
    border: none;
}

.in .nav-tabs .nav-link:focus, .in .nav-tabs .nav-link:hover {
    color: var(--background);
    border: none;
}

.nav-link.active {
    border-bottom: 0.3em solid var(--foreground) !important;
}

.logo.nav-link, .nav-tabs .nav-item.show .logo.nav-link, .nav-tabs .logo.nav-link.active{
    border: 0 !important;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
}

.sub-nav {
    display: flex;
    gap: 1.5em;
    align-items: baseline;
}



/* *** */

 .fade {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

#contact {
    text-align: center;
}
form.email {
    display: grid;
    max-width: 50%;
    margin: 0 auto;
    gap: 1.5rem;
    text-align: left;
    margin-top: 3em;
}

#contact h1 {
    margin-bottom: 1em;
}

form.email div {
    display: grid;
}

form.email label {
    padding-left: 1em;
}

form.email div.submit {
    display: grid;
    justify-content: center;
}

.submit button {
    padding: 0.8em 1.5em;
    border: none;
    background: var(--foreground);
    color: var(--background);
}

form.email input {
    padding: 0.8em 1em;
    background: var(--foreground);
    border: none;
    color: var(--background);
}

input.message {
    min-height: 12rem;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

/*  Carousel Hero Section  */

 .hero-grid{
    height: var(--full-height);
    /* height: 100%; */
/*     height: calc(100svh - var(--full-height)); */
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.hero-punch{
    font-family: var(--ff-alt);
    color: var(--background);
    font-size: 4rem;
    text-align: center;
}

.hero-punch h1{
    color: var(--clr-punch);
    font-size: calc(8.5rem - 0.5vw);
}

.cta{
    font-family: var(--ff);
    font-weight: 100;
    background: var(--clr-red);
    color: var(--clr-light);
    font-size: 1.4rem;
    padding: 0.1em 0.9em;
    border: none;
    border-radius: 100px;
}


@media screen and (orientation:portrait) {
    
    .hero-image img{
        --dim: 100svw;
        height: auto !important;
        width: var(--dim);
    }

    .hero-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr;
        padding: 0;
    }
    .hero-punch{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
    .hero-image{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    
    .hero-grid {
        grid-template-rows: 1fr 1fr;
    }

    .hero-punch {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        width: 100%;
    }

    .hero-punch h1{
        /* font-size: 3.5rem; */
        line-height: 0.9em;
        margin: 0;
    }

    @media screen and (max-width: 450px) {
        .hero-punch {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
        }
            
        .hero-image img{
            --dim: 100svw;
            height: auto !important;
            width: var(--dim) !important;
        }
    }
}
@media screen and (orientation:landscape) {

    .hero-image {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        justify-self: flex-end;
    }
    .hero-punch{
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        justify-self: stretch;
    }
    .hero-image img {
        width: var(--full-height);
        height: auto;
    }
}

.slide-1 {
    background: var(--clr-slide-1);
}

.slide-2 {
    background: var(--clr-slide-2);
}

.slide-3 {
    background: var(--clr-slide-3);
}

.slide-4 {
    background: var(--clr-slide-4);
}

/* ***** */

 
@media screen and (max-width:823px){
    #hero{
        position: absolute;
        top: 0;}
    .hero-grid{
        height: 100svh;
        width: 100svw;
    }
    .hero-image img{
        width: 100%;
        max-width: revert;
        max-height: revert;
        height: 100%;
    }
    nav {
        gap: 0.3em;
        align-items: center;
        }
    .sub-nav {
        gap: 0.8em;
    }
    
    .logo {
        width: 290px;
    }

    form.email {
        max-width: 64%;
        margin-top: 2em;
    }
    /* .content {
        margin: 2rem auto 0;
    } */
    .nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: var(--background);
        background-color: inherit;
        border: none;
    }
    .nav-link:hover, .nav-tabs .nav-item.show .nav-link:hover, .nav-tabs .nav-link.active {
        color: var(--background) !important;
        background-color: inherit;
        border: none;
    }
    .nav-link.active {
        border-bottom: 0.4em solid var(--background) !important;
    }
    .lang-selector .item {
        background: var(--foreground);
    }
    .options.active{
        top: 1.5em;
        padding: 0.5em !important;
     }
     .dark-mode-toggle {
        color: var(--background);
    }

    .lang-selector .item:first-child  {
        border-bottom: 1px solid var(--background);
    }
    
 }
    
@media screen and (max-width: 1014px) {
    .hero-punch h1{font-size: calc(var(--punch-width) / 4);}
}

@media screen and (max-width: 823px) {
    .hero-punch h1{font-size: calc(4.5rem - 0.5vw);}
}

@media screen and (max-width:470px){
    
    .content {
        margin: 1rem auto 0;
    }
    
    form.email {
        max-width: 87%;
    }
    .logo {
        width: 228px;
    }

    .hero-punch {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hero-punch h1{font-size: calc(3.5rem - 0.5vw);}

    .cta{
        font-size: 1.2rem;
        max-width: 33%;
    }

 }


