@font-face {
    font-family: 'Bebas';
    src: local('Bebas Neue Regular'), local('BebasNeue-Regular'),
        url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aleo';
    src: local('Aleo Italic'), local('Aleo-Italic'),
        url('../fonts/Aleo-Italic.woff2') format('woff2'),
        url('../fonts/Aleo-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'aleo';
    src: local('Aleo Light'), local('Aleo-Light'),
        url('../fonts/Aleo-Light.woff2') format('woff2'),
        url('../fonts/Aleo-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aleo';
    src: local('Aleo Regular'), local('Aleo-Regular'),
        url('../fonts/Aleo-Regular.woff2') format('woff2'),
        url('../fonts/Aleo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aleo';
    src: local('Aleo Bold'), local('Aleo-Bold'),
        url('../fonts/Aleo-Bold.woff2') format('woff2'),
        url('../fonts/Aleo-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


 :root {
    --clr-light: hsl(40deg 24.64% 84.66%);
    --clr-dark-light: hsl(200, 8.6%, 27.5%);
    --clr-grey: hsl(0, 0%, 85%);
    --clr-red: hsl(349, 69%, 42%);
    --clr-accent-1: hsl(172, 4%, 77%);
    --clr-accent-2: hsl(40, 100%, 50%);
    --clr-punch: var(--clr-dark-light);
    --clr-slide-1: hsl(37, 6%, 59%);
    --clr-slide-2: hsl(48, 12%, 62%);
    --clr-slide-3: hsl(201deg 7.61% 50.24%);
    --clr-slide-4: hsl(175, 6%, 62%);
    
    --clr-blanket: hsla(200, 8.6%, 27.5%, 0.7);

    --clr-shaddow: hsla(48, 12%, 62%, 0.7);
  
    --foreground: var(--clr-dark-light);
    --background: var(--clr-light);
 
    --close-height: 1.5rem;
 
    --ff: 'aleo', sans-serif;
    --ff-alt: 'bebas', sans-serif;

    --fw: 400;    
    --fw-punch: 400;

    scroll-behavior: smooth; 

    --full-height: calc(100svh - var(--header-height));

    /* Bootstrap */
    --bs-border-width: 0;
  }

/* Darkmode*/

.darkmode {
    --clr-dark-light: hsl(200deg 11.03% 19.94%);
    --clr-accent: rgb(255, 170, 0);
    --clr-accent-neg: rgb(0, 90, 146);

    --clr-shaddow: hsla(48, 12%, 62%, 0);
    
    --fw: 200;
    --fw-punch: 900;

    --foreground: var(--clr-light);
    --background: var(--clr-dark-light);
}
.dark-mode-toggle {
    box-sizing: content-box;
    display: grid;
    justify-items: center;
    gap: 0.8em;
    z-index: 100;
    color: var(--foreground);
    background: transparent;
    cursor: pointer;
    width: max-content;
    height: max-content;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
 
    box-sizing: content-box; 
 
    /* --> un-comment if under text
    display: grid;
    justify-items: center;
    gap: 0.8em;
    width: max-content;
    height: max-content;
    font-size: 0.7rem;
    z-index: 100; */
 
     color: var(--foreground);
     background: transparent;
     cursor: pointer;
     margin: 0;
     padding: 0;
     border: none;
  }
 
  .dark-mode-toggle:hover{
    opacity: 0.8;
  }
 
  .toggle-ico {
    --size: 1.1rem;
    display: block;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    border-radius: 999px;
    transition: all 500ms;
 
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  }
  
  .darkmode .toggle-ico {
    box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
 
  }
 
 /*         darkmode toggle - END
  ___________________________________________*/

/* reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100svh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    line-height: 0;
}

img{
    image-rendering: optimizeQuality;
}

ul, ol {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
 }


*::selection {
color: var(--clr-light);
background-color: var(--clr-red);
}

.blanket{
    position: absolute;
    top: 0;
    width: 100svw;
    height: 100svh;
    background: transparent;
    transition: all 300ms;
    pointer-events: none;
}

.blanket.on{
    background: var(--clr-blanket);
    transition: all 300ms;
    backdrop-filter: blur(5px);
    z-index: 1;
}

/* reset end */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--ff);
/*     padding: 0 0.8em; */
    transition: all 500ms;
 }

h1, h2, h3, h4 {
    font-family: var(--ff-alt);
    color: var(--foreground);
}

h1 {
    font-size: calc(2.5rem + 1.5vw);
    text-align: center;
}

p {
    font-weight: var(--fw);
}

header {
    font-family: var(--ff-alt);
    font-size: 1.3rem;
    /* max-width: 1340px; */
    margin: 0 auto;
    padding: 1.2em;
 }

header a:hover {
    border-bottom: 0.5em solid var(--foreground);
}
 
.logo {
    width: 350px;
    height: auto;
}

.logo svg {
    fill: var(--foreground);
 }

/* #carousel-hero {
    max-width: 1200px;
    margin: 0 auto;
} */

 .content {
    max-width: 1000px;
    margin: 2rem auto 0;
 }

/*       Lang Switcher - START
 ___________________________________________*/

 .locale-switcher {
    color: var(--clr-accent);
    font-size: inherit;
    letter-spacing: 0.04em;
    background: none;
    border: none;
    margin: 0;
    padding: var(--bs-nav-link-padding-y) 0 var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    height: max-content;
/*     -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none; */
  }
 
 
 
  .locale-switcher:focus-visible {
    border: none;
    outline: none;
  }
 
  select.locale-switcher::after {
    display: inline-block;
    content: '';
    transform: translateY(-30%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    margin-left: 0.7em;
  }
 
.lang-selector .item {
    background: var(--background);
    padding: 0.3em 0.5em;
}

.lang-selector .item:first-child  {
    border-bottom: 1px solid var(--foreground);
}


 /* ___________________________________________*/

/*  .hero-slide img {
    object-position: center;
    object-fit: cover;
  }   */

  /* .hero-slide {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100svh - var(--sl--full-height));
 } */
.hero-slide img {
    display: block;
    max-width: 100%;
    max-height: 100vw;
    /* aspect-ratio: 1 / 1; */
}

 #carousel-hero {
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
 }

 .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
	color: var(--clr-red);
}

.carousel-control-next, .carousel-control-prev {
	opacity: .8;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators [data-bs-target] {
    background-color: var(--clr-blanket);
}

.carousel-control-next, .carousel-control-prev {
	width: 8%;
}

/*  Bootstrap Override */


ul {
    margin: 0 !important;
    padding: 0 !important;
}

#header-height{
    width: 0;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-link {
    padding: 0;
}

.nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--foreground);
    background-color: inherit;
    border: none;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: var(--foreground);
    border: none;
}

.in .nav-tabs .nav-link:focus, .in .nav-tabs .nav-link:hover {
    color: var(--background);
    border: none;
}

.nav-link.active {
    border-bottom: 0.3em solid var(--foreground) !important;
}

.logo.nav-link, .nav-tabs .nav-item.show .logo.nav-link, .nav-tabs .logo.nav-link.active{
    border: 0 !important;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
}

.sub-nav {
    display: flex;
    gap: 1.5em;
    align-items: baseline;
}



/* *** */

 .fade {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

#work-tab-pane, #about-tab-pane {
    font-size: calc(1rem + 0.2vw);
}

.work-punchline-wrapper {
    height: var(--full-height);
    display: grid;
    align-items: center;
    justify-content: center;
}

.punchline {
    font-family: var(--ff);
    max-width: 722px;
    font-size: calc(2rem + 1.2vw);
    font-weight: var(--fw-punch);
    background: var(--foreground);
    color: var(--background);
    padding: 1.35em 1.35em;
    margin: 2rem auto;
    border-radius: 45% 55% 59% 41% / 48% 49% 51% 52%;
    text-align: center;
    line-height: 1.3em;
}

@media (max-width:400px){
    .punchline {
        padding: 1.5em 1em;
    }
}
.summary {
    max-width: 600px;
    margin-bottom: 1.5rem;
}

/* #work-tab-pane {
	background-image: url("../img/frissons_stroke_plain.svg");
	background-size: 100%;
    padding: 0 2rem 5rem;
} */

#work-tab-pane img {
	border-radius: 1rem;
}

.podcast-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 15rem auto 0 auto
}

.podcast {
	display: grid;
	justify-items: center;
    grid-template-rows: auto auto 1fr auto;
}

.podcast h2 {
	font-size: calc(2rem + 1.5vw);
	text-align: center;
    margin-bottom: 0.15em;
}

.podcast_links li a::before {
    --size: 1.3em;
    content: "";
    width: var(--size);
    height: var(--size);
    background-size: var(--size) var(--size);
    position: relative;
    top: 0.01em;
}

.podcast_links li.apple a::before {
    --ico-apple: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Artwork' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 73 73' style='enable-background:new 0 0 73 73;' xml:space='preserve'%3E%3Cpath d='M72.5,20.4c0-0.7,0-1.4,0-2.2c0-1.6-0.1-3.2-0.4-4.7c-0.3-1.6-0.7-3.1-1.5-4.5c-0.7-1.4-1.7-2.7-2.8-3.8s-2.4-2-3.8-2.8 c-1.5-0.7-3-1.2-4.5-1.4c-1.6-0.3-3.2-0.4-4.7-0.4c-0.7,0-1.4,0-2.2,0c-0.9,0-1.7,0-2.6,0H23c-0.9,0-1.7,0-2.6,0c-0.7,0-1.4,0-2.2,0 c-1.6,0-3.2,0.1-4.7,0.4C12,1.2,10.5,1.7,9,2.4C7.6,3.2,6.3,4.1,5.2,5.2S3.2,7.6,2.4,9c-0.7,1.5-1.2,3-1.4,4.5 c-0.3,1.6-0.4,3.2-0.4,4.7c0,0.7,0,1.4,0,2.2c0,0.9,0,1.7,0,2.6v27c0,0.9,0,1.7,0,2.6c0,0.7,0,1.4,0,2.2c0,1.6,0.1,3.2,0.4,4.7 c0.2,1.5,0.7,3,1.4,4.5c0.7,1.4,1.7,2.7,2.8,3.8c1.1,1.1,2.4,2.1,3.8,2.8c1.4,0.7,2.9,1.2,4.5,1.5s3.2,0.4,4.7,0.4 c0.7,0,1.4,0,2.2,0c0.9,0,1.7,0,2.6,0h27c0.9,0,1.7,0,2.6,0c0.7,0,1.4,0,2.2,0c1.6,0,3.2-0.1,4.7-0.4c1.6-0.3,3.1-0.7,4.5-1.5 c1.4-0.7,2.7-1.7,3.8-2.8c1.1-1.1,2.1-2.4,2.8-3.8c0.7-1.4,1.2-2.9,1.5-4.5s0.4-3.2,0.4-4.7c0-0.7,0-1.4,0-2.2c0-0.9,0-1.7,0-2.6V23 C72.5,22.2,72.5,21.3,72.5,20.4z M42,48.2c-0.2,2-0.5,4.7-0.9,7.4c-0.3,1.9-0.5,3-0.8,3.8c-0.4,1.2-1.7,2.3-3.8,2.3 s-3.5-1.1-3.8-2.3c-0.2-0.8-0.5-1.8-0.8-3.8c-0.4-2.7-0.8-5.4-0.9-7.4c-0.2-2.1-0.3-3.4-0.1-5c0.1-0.8,0.4-1.4,0.9-1.9 c1-1,2.7-1.7,4.8-1.7s3.8,0.7,4.8,1.7c0.5,0.5,0.8,1.1,0.9,1.9C42.3,44.8,42.2,46.1,42,48.2z M27.9,43.1c0.2,0.2,0.3,0.5,0.3,0.8 c0,0.9,0,1.7,0,2.6c0,0.3-0.3,0.4-0.5,0.3c-4.1-2.8-6.8-7.6-6.8-13c0.1-8.2,6.7-15,14.9-15.3C44.7,18.1,52,25.2,52,34 c0,5.3-2.7,10-6.8,12.8c-0.2,0.1-0.5,0-0.5-0.3c0.1-0.9,0.1-1.8,0-2.6c0-0.3,0.1-0.6,0.3-0.8c2.4-2.3,4-5.5,4-9.1 c0-7.1-5.9-12.8-13-12.5c-6.6,0.3-11.9,5.6-12,12.2C23.8,37.4,25.4,40.7,27.9,43.1z M41.9,32.1c0,3-2.4,5.4-5.4,5.4 s-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4C39.5,26.7,41.9,29.1,41.9,32.1z M44.1,55.8c-0.2,0.1-0.4-0.1-0.4-0.3c0.1-0.8,0.2-1.6,0.3-2.4 c0-0.3,0.2-0.5,0.5-0.6c7.1-3.1,12.1-10.2,12.1-18.5c0-11.2-9.1-20.3-20.4-20.2c-11,0.1-19.9,9-20,20c-0.1,8.4,4.9,15.6,12.1,18.7 c0.3,0.1,0.4,0.3,0.5,0.6c0.1,0.8,0.2,1.6,0.3,2.4c0,0.2-0.2,0.4-0.4,0.3c-9.1-3.2-15.6-11.9-15.5-22.1 c0.2-12.6,10.5-22.8,23.1-22.9c12.8,0,23.2,10.4,23.2,23.1C59.6,44,53.2,52.6,44.1,55.8z'/%3E%3C/svg%3E");
    background-color: var(--foreground);
    -webkit-mask: var(--ico-apple);
    mask: var(--ico-apple);
}

.podcast_links li.spotify a::before {
    --ico-spotify: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 73 73' style='enable-background:new 0 0 73 73;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%0A%3C/style%3E%3Cpath class='st0' d='M57.8,32.4c-11.6-6.9-30.7-7.5-41.8-4.2c-1.8,0.5-3.7-0.5-4.2-2.2c-0.5-1.8,0.5-3.7,2.2-4.2 c12.7-3.9,33.8-3.1,47.1,4.8c1.6,0.9,2.1,3,1.2,4.6C61.4,32.8,59.4,33.4,57.8,32.4z M57.4,42.6c-0.8,1.3-2.5,1.7-3.9,0.9 c-9.7-5.9-24.4-7.7-35.8-4.2c-1.5,0.4-3-0.4-3.5-1.9c-0.4-1.5,0.4-3,1.9-3.5c13.1-4,29.3-2,40.4,4.8C57.8,39.6,58.2,41.3,57.4,42.6z M53,52.4c-0.6,1.1-2,1.4-3.1,0.7c-8.4-5.2-19.1-6.3-31.6-3.5c-1.2,0.3-2.4-0.5-2.7-1.7c-0.3-1.2,0.5-2.4,1.7-2.7 c13.7-3.1,25.4-1.8,34.9,4C53.3,50,53.6,51.3,53,52.4z M36.5,0.6c-19.9,0-36,16.1-36,36c0,19.9,16.1,35.9,36,35.9 c19.9,0,35.9-16.1,35.9-35.9C72.4,16.6,56.4,0.6,36.5,0.6z'/%3E%3C/svg%3E");
    background-color: var(--foreground);
    -webkit-mask: var(--ico-spotify);
    mask: var(--ico-spotify);
}

.podcast_links li.auvio a::before {
    --ico-auvio: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 73 73' style='enable-background:new 0 0 73 73;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M26.5,21.4c7.7-5.1,15.9-8,23.9-8.2c-2.8-3.1-7.2-3.9-10.8-3.9c-1.5,0-2.8,0-3.9,0.3c-4.4,1.3-9,3.9-12.6,5.9 C14.4,20.8,10,26.8,8.2,29.8c-1.5,4.4-1.3,8.7,0.5,12.3C12.1,34.2,18.5,26.8,26.5,21.4z'/%3E%3Cpath d='M69.6,14.7L69.6,14.7C65,7.5,56.3,4.6,45.5,6.2c4.1,1,7.5,3.1,9.5,6.4c5.9,9-0.8,23.7-14.9,32.9 c-8.2,5.4-17.5,7.7-24.9,6.2c-4.4-1-8-3.1-10-6.4c-1.3-2.1-2.1-4.6-2.3-7.2c-3.1,7.7-3.1,15.2,0.5,20.6c2.6,4.1,7.2,6.9,12.9,8 c10.3,2.1,22.9-1,34.2-8.5C68.6,45.8,77.4,26.2,69.6,14.7z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: var(--foreground);
    -webkit-mask: var(--ico-auvio);
    mask: var(--ico-auvio);
}

.podcast_links li.youtube a::before {
    --ico-youtube: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 73 73' style='enable-background:new 0 0 73 73;' xml:space='preserve'%3E%3Cpath d='M71,19.1c-0.9-3-3.3-5.4-6.3-6.3c-5.7-1.5-28.2-1.5-28.2-1.5s-22.5,0-28.2,1.5c-3,0.9-5.4,3.3-6.3,6.3 c-1.5,5.7-1.5,17.4-1.5,17.4s0,11.7,1.5,17.4c0.9,3,3.3,5.4,6.3,6.3c5.7,1.5,28.2,1.5,28.2,1.5s22.5,0,28.2-1.5 c3-0.9,5.4-3.3,6.3-6.3c1.5-5.7,1.5-17.4,1.5-17.4S72.4,24.8,71,19.1z M29.3,47.3V25.7l18.6,10.8L29.3,47.3z'/%3E%3C/svg%3E");
    background-color: var(--foreground);
    -webkit-mask: var(--ico-youtube);
    mask: var(--ico-youtube);
}

.podcast_links li.canada a::before {
    --ico-canada: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 73 73' style='enable-background:new 0 0 73 73;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M36.5,49.5c7.1,0,13-5.9,13-13s-5.9-13-13-13s-13,5.9-13,13C23.5,43.6,29.4,49.5,36.5,49.5z M21.6,49.5 c-7,0-12.8-5.9-12.8-13s5.8-13,12.8-13V49.5z M51.4,63.5V51.4h12.1C63.5,58.2,58.2,63.5,51.4,63.5z M21.6,9.5v12.1H9.5 C9.5,14.9,14.9,9.5,21.6,9.5L21.6,9.5z M21.6,63.5V51.4H9.5C9.5,58.2,14.9,63.5,21.6,63.5L21.6,63.5z M66.2,47.5V25.5 c3.8,2.2,6.2,6.3,6.2,11S70,45.4,66.2,47.5L66.2,47.5z M25.5,6.8h22.1c-2.2-3.7-6.3-6.2-11-6.2C31.8,0.6,27.6,3.1,25.5,6.8z M47.3,66.2h-22c2.2,3.7,6.3,6.2,11,6.2C40.9,72.5,45.2,70,47.3,66.2z M49.5,51.4c0,7.2-5.9,12.8-13,12.8s-13-5.6-13-12.8H49.5z M51.4,49.5c7.2,0,12.8-5.9,12.8-13s-5.6-13-12.8-13V49.5z M49.5,21.6c0-7-5.9-12.8-13-12.8s-13,5.8-13,12.8H49.5z M6.8,47.5 L7,25.5c-3.9,2.2-6.4,6.3-6.4,11S3.1,45.4,6.8,47.5L6.8,47.5z M63.5,21.6H51.4V9.5C58.2,9.5,63.5,14.9,63.5,21.6L63.5,21.6z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: var(--foreground);
    -webkit-mask: var(--ico-canada);
    mask: var(--ico-canada);
}

.podcast_links li a{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 0.5em;
}

.publisher {
	font-size: 0.95em;
	font-weight: 100;
	text-align: center;
	margin-bottom: 2em !important;
}

#about p {
	text-align: center;
}

.about-punchline {
    margin: 2rem 0 3rem;
    font-family: var(--ff);
    text-align: center;
    font-size: calc(1.5rem + 0.05vw);
    font-weight: 200;
    line-height: 1.7em;
}

#contact {
    text-align: center;
}
form.email {
    display: grid;
    max-width: 50%;
    margin: 0 auto;
    gap: 1.5rem;
    text-align: left;
    margin-top: 3em;
}

#contact h1 {
    margin-bottom: 1em;
}

form.email div {
    display: grid;
}

form.email label {
    padding-left: 1em;
}

form.email div.submit {
    display: grid;
    justify-content: center;
}

.submit button {
    padding: 0.8em 1.5em;
    border: none;
    background: var(--foreground);
    color: var(--background);
}

form.email input {
    padding: 0.8em 1em;
    background: var(--foreground);
    border: none;
    color: var(--background);
}

input.message {
    min-height: 12rem;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

/*  Carousel Hero Section  */

 .hero-grid{
    height: var(--full-height);
    /* height: 100%; */
/*     height: calc(100svh - var(--full-height)); */
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.hero-punch{
    font-family: var(--ff-alt);
    color: var(--background);
    font-size: 4rem;
    text-align: center;
}

.hero-punch h1{
    color: var(--clr-punch);
    font-size: calc(8.5rem - 0.5vw);
}

.cta{
    font-family: var(--ff);
    font-weight: 100;
    background: var(--clr-red);
    color: var(--clr-light);
    font-size: 1.4rem;
    padding: 0.25em 0.9em;
    border: none;
    border-radius: 100px;
}

.caption {
    font-size: 1.1rem;
    margin-top: 0.9rem;
    font-weight: 100;
}

@media screen and (orientation:portrait) {
    
    .hero-image img{
        --dim: 100svw;
        height: auto !important;
        width: var(--dim);
    }

    .hero-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr;
        padding: 0;
    }
    .hero-punch{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
    .hero-image{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    
    .hero-grid {
        grid-template-rows: 1fr 1fr;
    }

    .hero-punch {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        width: 100%;
    }

    .hero-punch h1{
        /* font-size: 3.5rem; */
        line-height: 0.9em;
        margin: 0;
    }

    @media screen and (max-width: 450px) {
        .hero-punch {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
        }
            
        .hero-image img{
            --dim: 100svw;
            height: auto !important;
            width: var(--dim) !important;
        }
    }
}
@media screen and (orientation:landscape) {

    .hero-image {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        justify-self: flex-end;
    }
    .hero-punch{
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        justify-self: stretch;
    }
    .hero-image img {
        width: var(--full-height);
        height: auto;
    }
}

.slide-1 {
    background: var(--clr-slide-1);
}

.slide-2 {
    background: var(--clr-slide-2);
}

.slide-3 {
    background: var(--clr-slide-3);
    /* background-image: url('../img/le-monstre_bg.jpg'); */
}

.slide-4 {
    background: var(--clr-slide-4);
}

/* ***** */

 
@media screen and (max-width:823px){
    #hero{
        position: absolute;
        top: 0;}
    .hero-grid{
        height: 100svh;
        width: 100svw;
    }
    .hero-image img{
        width: auto;
        max-width: revert;
        max-height: revert;
        height: 100svh;
    }
    nav {
        gap: 0.3em;
        align-items: center;
        }
    .sub-nav {
        gap: 0.8em;
    }
    
    .logo {
        width: 290px;
    }

    form.email {
        max-width: 64%;
        margin: 2em auto;
    }
    /* .content {
        margin: 2rem auto 0;
    } */
    .nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: var(--background);
        background-color: inherit;
        border: none;
    }
    .nav-link:hover, .nav-tabs .nav-item.show .nav-link:hover, .nav-tabs .nav-link.active {
        color: var(--background) !important;
        background-color: inherit;
        border: none;
    }
    .nav-link.active {
        border-bottom: 0.4em solid var(--background) !important;
    }
    .lang-selector .item {
        background: var(--foreground);
    }
    .options.active{
        top: 1.5em;
        padding: 0.5em !important;
     }
     .dark-mode-toggle {
        color: var(--background);
    }

    .lang-selector .item:first-child  {
        border-bottom: 1px solid var(--background);
    }
    
 }
    
@media screen and (max-width: 1014px) {
    .hero-punch h1{font-size: calc(var(--punch-width) / 4);}
}

@media screen and (max-width: 823px) {
    .hero-punch h1{font-size: calc(4.5rem - 0.5vw);}
}

@media screen and (max-width:470px){
    
    h1{
        text-align: center;
    }
    .content {
        margin: 1rem auto 0;
    }
    
    form.email {
        max-width: 87%;
    }
    .logo {
        width: 228px;
    }

    .hero-punch {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hero-punch h1{
        font-size: calc(3.5rem - 0.5vw);
        /* align-self: flex-start;
        margin-top: 0.8em; */
    }

    .cta{
        font-size: 1.2rem;
        max-width: 33%;
        line-height: 1.3em;
        padding: 1em;
        /* align-self: end;
        margin-bottom: 2em; */
    }

 }



 .st0{
    fill: var(--foreground);
} .st1{
    fill:var(--clr-shaddow);
} .st2{
    fill:var(--foreground);
}